@page "/auth/PasswordInfo"

<div class="alert alert-info">
    <h4>Requisitos de Contraseña</h4>
    <ul>
        <li>Mínimo 8 caracteres</li>
        <li>Al menos una letra mayúscula</li>
        <li>Al menos una letra minúscula</li>
        <li>Al menos un número</li>
        <li>Al menos un carácter especial</li>
    </ul>
</div>
